.navbar-inverse {
    background-color: initial;
    border-color: transparent;
    margin-top: 10px;
}

    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: black;
        background-color: transparent;
    }

.navbar-nav > li > a {
    padding-top: 23px;
    padding-bottom: 0px;
    margin-left: 20px;
    font-size: 20px;
}

.body-content {
    margin-top: 60px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
    background: cadetblue;
}

.navbar-toggler {
    color: red;
    border-color: red;
}